#login-form{
    margin:auto;
    height:800px;
    width:400px;
    border:2px solid rgb(248, 243, 243);
}
.col-12{
    border-radius: 25px;
    width: 100%;
}
.react{
    margin-top: 50px;
    align-items: center;
    width:70%;
    height:200px;
}
.btn-danger{
    width: 350px;
    border-radius: 30%;
}
a{
    font-weight: bold;
}
p{
    margin:18px;
}
#signup-form{
    width: 400px;
    margin: 20px auto;
    display: none;
}
#login-form{
    width: 400px;
    margin: 20px auto;
}
#si{
    background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000');
}
